<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>get spooked</title>
  </head>

  <body>
    <h1>Choose a door!</h1>
    <!--<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">-->

    <!-- Insert Your Form Below -->
   <form method = POST>
  <p> let's choose one of these super cool doors :)</p>
  <input type= "radio" name= "question1" value="doorone">door uno
  <input type= "radio" name= "question2" value="doortwo">door dos
  <input type= "radio" name= "question3" value="doorthree">door tres
  <input type="submit" value= "let's get spooky kids"
  </body>
</html>
